/* FrontPup Admin Bar Menu CSS */
#wp-admin-bar-frontpup-adminbar-menu .ab-icon:before,
#wp-admin-bar-frontpup-adminbar-menu .ab-item:hover .ab-icon:before {
  content:"\f13b"; /* cloud upload icon */
  font: normal 20px / 1 dashicons;
  padding: 4px 0;
  top: 2px;
}
#wp-admin-bar-frontpup-adminbar-menu.frontpup-success .ab-icon:before,
#wp-admin-bar-frontpup-adminbar-menu.frontpup-success .ab-item:hover .ab-icon:before {
  content: "\f147"; /* checkmark icon */
  color:#00cc00; /* darker green color */
  font: normal 20px / 1 dashicons;
  padding: 4px 0;
  top: 2px;
}
#wp-admin-bar-frontpup-adminbar-menu.frontpup-error .ab-icon:before,
#wp-admin-bar-frontpup-adminbar-menu.frontpup-error .ab-item:hover .ab-icon:before {
  content: "\f158"; /* no icon */
  color: #ff6666; /* lighter red */
  font: normal 20px / 1 dashicons;
  padding: 4px 0;
  top: 2px;
}
#wp-admin-bar-frontpup-clear-cache-status .ab-item {
  font-style: italic;
}
#wp-admin-bar-frontpup-clear-cache-status {
    border-top: 1px dotted #ececec;
    padding-top: 6px !important;
    margin-top: 6px !important;
}

/* Hide the icon when we are loading */
#wp-admin-bar-frontpup-adminbar-menu.frontpup-off .ab-icon {
  display: none !important;
}

#wp-admin-bar-frontpup-adminbar-menu .frontpup-wait {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 4px;
  vertical-align: top;
  position: relative;
  padding: 0 4px;
}
#wp-admin-bar-frontpup-adminbar-menu .frontpup-wait-off {
  display: none !important;
}

.frontpup-wait-spinner {
  animation: frontpupWaitRotate 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -9px;
  width: 18px;
  height: 18px;
}

.frontpup-wait-spinner .frontpup-wait-spinner-path {
  stroke: currentColor;
  stroke-width: 8;
  stroke-linecap: round;
  animation: frontpupWaitDash 2s ease-in-out infinite;
}
@keyframes frontpupWaitRotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes frontpupWaitDash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
