# Ignore everything
*

# But not these files...
!.gitignore
!Api/
!Api/**
!Auth/
!Auth/**
!ClientSideMonitoring/
!ClientSideMonitoring/**
!CloudFront/
!CloudFront/**
!Configuration/
!Configuration/**
!Credentials/
!Credentials/**
!DefaultsMode/
!DefaultsMode/**
!Endpoint/
!Endpoint/**
!EndpointDiscovery/
!EndpointDiscovery/**
!EndpointV2/
!EndpointV2/**
!Exception/
!Exception/**
!Handler/
!Handler/**
!Identity/
!Identity/**
!Retry/
!Retry/**
!Signature/
!Signature/**
!Token/
!Token/**
!*.php
!data/
!data/*.php
!data/cloudfront/
!data/cloudfront/**