# Ignore everything
*

# But not these files...
!.gitignore
!CloudFront/
!CloudFront/**
!Credentials/
!Credentials/**
!Signature/
!Signature/**
!Handler/
!Handler/**
!Api/
!Api/**
!Exception/
!Exception/**
!*.php
!data/
!data/*.php
!data/cloudfront/
!data/cloudfront/**
